
GEMINI_API_KEY="MY_GEMINI_API_KEY"


APP_URL="MY_APP_URL"


MONGODB_URI="your_mongodb_connection_string"



SESSION_SECRET="your_session_secret"



ADMIN_USERNAME="your_admin_username"
ADMIN_PASSWORD="your_admin_password"


